//字体
$font-family: "PingFangSC-Regular,Helvetica,'Microsoft YaHei',Simsun,'Droid Sans Fscreenback',sans-serif";
//字体大小
$fontSize80:.80rem;
$fontSize70:.70rem;
$fontSize65:.65rem;
$fontSize64:.64rem;
$fontSize50:.50rem;
$fontSize48:.48rem;
$fontSize44:.44rem;
$fontSize40:.40rem;
$fontSize36:.36rem;
$fontSize32:.32rem;
$fontSize30:.30rem;
$fontSize28:.28rem;
$fontSize26:.26rem;
$fontSize24:.24rem;
$fontSize22:.22rem;
$fontSize18:.18rem;
$fontSize15:.15rem;
//颜色
$color1:#000000;
$color2:#333333;
$color3:#999999;
$color4:#292828;
$color5:#EFEFEF;
$color6:#F6F6F6;
$color7:#00a0dd;
$color8:#FFFFFF;
$color9:#666666;
$color10:#FF0625;
$color11:#d4a667;
$color12:#e2e2e2;
$color13:#f8f8f8;
$color14:#c6c6c6;